body * {
  box-sizing: border-box;
}

html {
  background-color: whitesmoke;
}

main {
  display: block;
  padding: 1em 1em 150px;
  width: 100%;
  height: 100%;
  color: rgb(14, 11, 32);
  text-align: center;
  font-family: "Playfair Display", serif;
  background-color: whitesmoke;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 3em;
  letter-spacing: 14px;
  padding: 0 1em 0 0;
  text-align: left;
  text-shadow: 0.1em 0.1em 12px rgba(17, 17, 50, 0.25);
}

h2 {
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  font-style: italic;
  padding-bottom: 1em;
  padding-right: 3em;
  text-align: right;
  margin: 0;
  text-shadow: 0.1em 0.05em 12px rgba(17, 17, 50, 0.25);
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1em;
  margin-bottom: 0.25em;
}

header {
  padding: 0 0 0 6em;
  text-align: center;

  flex-flow: row wrap;
  align-items: center;
  color: rgb(57, 45, 150);
}

@media only screen {
  a {
    color: whitesmoke;
  }
  .link {
    color: whitesmoke;
  }
}

a:hover,
a:focus {
  color: whitesmoke;
}

.landing {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 340px;
  height: 100%;
}

.window {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 300px;
  border: solid 13px whitesmoke;

  margin-bottom: 0.6em;
  margin-top: 0.8em;
  padding-top: 7em;
}

.window1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 320px;
  height: 340px;
  border: solid 13px whitesmoke;
  box-shadow: 0.9em 1.2em 1em 1em rgba(17, 17, 50, 0.25) inset;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
.win {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
  height: 300px;
  border: solid 13px whitesmoke;
  margin-top: 2em;
}

.hidden {
  display: none;
}

.modal {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1em 1em;
  background-color: #91e0ee;
  font-size: 1.5em;
  text-align: left;
  width: 100%;
  position: absolute;
  margin-top: -72px;
  left: 1%;
  z-index: 2;
  border-radius: 2px;
  background: linear-gradient(rgba(101, 65, 134, 0.95), #9ce7f5);
}

.close {
  display: flex;
  align-self: flex-end;
  background: transparent;
  color: #ecf8f1;
  font-size: 2em;
  border: none;
}

.close:hover {
  color: whitesmoke;
}

.photo {
  box-sizing: content-box;
  align-self: center;
  width: 300px;
  height: 290px;
  border: solid 10px black;
  border-radius: 1px;
}

.projects {
  display: flex;
  flex-direction: column;
  margin: 1em auto 1em;
  max-width: 700px;
  line-height: 1.2;
}

.about-me {
  display: flex;
  flex-direction: column;
  margin: 0.2em auto 3em;
  max-width: 700px;
  line-height: 2.2;
}

.contact-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: solid 1px #ecf8f1;
  border-radius: 2px;
  padding: 2em 3em;
  margin: 1em auto 10em;
}
.resume-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: solid 1px #ecf8f1;
  border-radius: 2px;
  padding: 2em 3em;
  margin: 1em auto 10em;
}

.contact-div a {
  margin: 2px;
}

img {
  width: 300px;
  height: 300px;
}
.project_img {
  width: 100%;
  margin-bottom: 24px;
}
.link {
  color: rgb(1, 117, 163);
  text-decoration: none;
  justify-content: flex-start;
}

.link:visited {
  color: rgb(122, 37, 233);
}

.link:hover {
  color: rgb(102, 5, 89);
}

.project-title {
  color: rgb(80, 20, 160);
  text-decoration: underline;
}

.project-links {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-top: 1.3em;
  justify-content: space-around;
}

.icon {
  display: inline-block;
  margin: 15px;
  height: 3em;
  width: 3em;
  border: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

a[name] {
  color: rgb(72, 64, 133);
  font-family: "Quattrocento", serif;
  font-weight: bold;
}

a[name="about-me"] {
  box-shadow: none;
  text-decoration: none;
}

a[name="about-me"] h3 {
  position: relative;
  top: -200px;
  margin-left: 10px;
  text-align: center;
  box-shadow: none;
  /* justify-content: center; */
  text-decoration: none;
}

a[name="projects"] {
  box-shadow: none;
  text-decoration: none;
}
a[name="projects"] h3 {
  position: relative;
  bottom: 85px;
  left: -8px;
  text-align: center;
}

a[name="contact"] {
  box-shadow: none;
  text-decoration: none;
}
a[name="contact"] h3 {
  position: relative;
  left: -4px;
  top: -90px;
  text-align: center;
  text-decoration: none;
}

a[name="resume"] {
  box-shadow: none;
  text-decoration: none;
}

a[name="resume"] h3 {
  position: relative;
  top: -198px;
  left: -18px;
  text-align: center;
  box-shadow: none;
  justify-content: center;
}

/* MEDIA AT 640px */

@media (min-width: 640px) {
  .window {
    width: 300px;
    height: 300px;
    border: solid 10px whitesmoke;
  }

  .modal {
    width: 100%;
    left: 5%;
    top: 11em;
  }

  .contact-div {
    border: solid 2px #ecf8f1;
    border-radius: 2px;
  }
  .resume-div {
    border: solid 2px #ecf8f1;
    border-radius: 2px;
  }

  .links {
    flex-direction: row;
  }

  .link {
    justify-content: center;
  }
}
.icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* MEDIA at 768px */

@media (min-width: 768px) {
  html {
    background-color: whitesmoke;
  }

  .landing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    height: 740px;
  }

  .window {
    width: 300px;
    height: 300px;
    border: solid 10px whitesmoke;
  }
  .window1 {
    width: 320px;
    height: 320px;
    border: solid 10px whitesmoke;
  }

  .modal {
    padding-left: 3em;
    padding-right: 3em;
  }
  .project-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .links {
    display: flex;
    flex-direction: row;
    margin-left: 2em;
    margin-top: 1.3em;
    justify-content: space-between;
  }
  .github-repos a:first-child {
    margin-right: 2em;
  }

  .resume-link {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/*  MEDIA at 1000px  */

@media (min-width: 1000px) {
  .contact-div {
    padding-left: 5em;
    padding-right: 5em;
  }
}
/*  MEDIA at 1160px */

@media (min-width: 1160px) {
  .contact {
    display: flex;
  }

  .modal {
    width: 90%;
    left: 4%;
    right: 4%;
  }
}

/*  MEDIA at 1500px  */

@media (min-width: 1500px) {
  .modal {
    top: 15em;
    width: 70%;
    left: 15%;
  }
}
